/* Define a variable at the top level of the cascade */
:root {
  --theme-default-font-size: 10px;
  --theme-presentation-font-size: 20px;
  --font-size-theme: var(--theme-default-font-size);
  --font-size-theme: var(--theme-presentation-font-size);
  --color-buttons: #4392F1;
  --color-font1: #3DB883;
  --color-font2: #d74a6b;
  --color-search-box-text: #000;
}

.App {
  text-align: center;
  background-color: #000;
  margin-top: 0px;
  font-family: "Avenir Next W01","Avenir Next W00","Avenir Next",Avenir,"Helvetica Neue",sans-serif;
  padding-top: 1vw;
}

.App-header {
  margin: 0vw 1vw;
  background-color: #000;
  //min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-color: #5c5c5c;
  border-width: 0px;
  border-style: solid;
  padding-top: 1vw;
}

h1 {
  font-size: calc(var(--font-size-theme) + 1.7vmin) !important;
  font-weight: 600 !important;
}

h1 sup {
  font-size: 0.5em;
  vertical-align: super;
  line-height: 0;
  margin-left: 0.3em;
}

h2 {
  font-size: calc(var(--font-size-theme) + 1.4vmin) !important;
}

.App-content {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  color: white;
  padding: 0vw 1vw;
}

.instructions-container {
  font-size: calc(var(--font-size-theme) + 1.2vmin);
  margin-top: 0.5vw;
  background-color: #2e3032;
  border-color: #5c5c5c;
  border-width: 1px;
  border-style: solid;
  //font-weight: 600;
  width: 100%;
  padding: 1vw 1vw 1vw 1vw;
}

.database {
  font-size: calc(var(--font-size-theme) + 1.5vmin);
  font-weight: 600;
}

.instructions-container-col {
  background-color: #2e3032;
}

.example-selection {
  margin: 1vw auto auto auto;
}

.example-selection .form-control {
  //font-weight: bold;
}

.example-selection .form-control {
  font-size: calc(var(--font-size-theme) + 0.6vmin) !important;
  font-family: Verdana, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  background-color: #2e3032 !important;
  color: white !important;
}

.goal {
  font-weight: 600;
  margin: 0vw auto;
  font-size: calc(var(--font-size-theme) + 1.5vmin);
}

.search-container {
  margin-top: 0.5vw;
  background-color: #000;
  font-weight: 600;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.search-container-col {
  border-color: #5c5c5c;
  border-width: 1px;
  border-style: solid;
  background-color: #2e3032;
  padding-bottom: 1vw;
}

.search-dropdown-btn {
  /*padding: auto 0px !important;*/
}

.search-btn {
  width: 100%;
  font-size: calc(var(--font-size-theme) + 0.6vmin) !important;
  //padding: auto 0px !important;
}

.search-col {
  //padding: 0px !important;
}

.search-field {
  font-size: calc(var(--font-size-theme) + 0.5vmin) !important;
  font-family: Verdana, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  //color: var(--color-search-box-text) !important;
}

.search-field-dropdown {
  font-family: Verdana, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.search-field-dropdown .item {
  font-size: calc(var(--font-size-theme) + 0.3vmin) !important;
  font-family: Verdana, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.results-count {
  margin-top: 0.5vw;
  border-color: #5c5c5c;
  border-width: 2px;
  border-style: solid;
  padding: 0vw !important;
  background-clip: padding-box;
}

.results-count-selected {
  background-color: #5c5c5c !important;
}

.results-count :hover {
  background-color: #5c5c5c;
  cursor: pointer;
}

.results-count-left {
  margin-right: 1vw;
}

.results-count-right {
  margin-right: 1vw;
}

.results-count .title {
  padding-top: 0.5vw;
  font-size: calc(var(--font-size-theme) + 1vmin);
  font-weight: normal;
}

.count-left {
  padding-bottom: 0.5vw;
  color: var(--color-font1);
  font-size: calc(var(--font-size-theme) + 4vmin);
  font-weight: 700;
}

.count-right {
  padding-bottom: 0.5vw;
  color: var(--color-font2);
  font-size: calc(var(--font-size-theme) + 4vmin);
  font-weight: 700;
}

.results {
  display: flex;
  flex-direction: row;
  height: 47vh;
  overflow-y: scroll;
  margin-top: 1.5vw;
  padding: 0vw;
  font-size: calc(var(--font-size-theme) + 0.5vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/****************************/
/* Bootstrap customizations */
/****************************/

/* remove rounding from cards, buttons and inputs */
/*.btn, .btn-lg, .btn-outline-info, .form-control {*/
/*  border-radius: 0 !important;*/
/*}*/

.btn-primary {
  background-color: var(--color-buttons) !important;
  //background-color: #ac6bfb !important;
  //background-color: #25dac0 !important;
  border-width: 1px !important;
  border-color: var(--color-buttons) !important;
  //color: #000 !important;
}

.close {
  color: white !important;
}

.dropdown-toggle::after {
  content: none !important;
}

.dropdown-menu {
  color: white !important;
  background-color: #2e3032 !important;
  border-color: #5c5c5c !important;
  border-width: 1px;
  border-style: solid;
}
.dropdown .dropdown-menu a {
  color: #000; text-decoration: none;
}
.dropdown .btn {
  font-size: calc(var(--font-size-theme) + 0.6vmin) !important;
  background-color: #2e3032 !important;
  border-width: 1px !important;
  border-color: #5c5c5c !important;
}
.dropdown .btn:hover {
  background: var(--color-buttons) !important;
  color:#fff !important;
}
.dropdown .btn:active, .dropdown .btn:focus {
  background: #2e3032;
  color: #fff;
}

.dropdown-menu .dropdown-item {
  background-color: #2e3032 !important;
  color: white !important;
}
.container .dropdown .dropdown-menu a:hover
{
  color: white !important;
  background-color: #5c5c5c !important;
  border-color: #5c5c5c;
  border-width: 0px;
  border-style: solid;
}

/* Modals */

.modal-content {
  font-size: calc(var(--font-size-theme) + 0.8vmin);
  color: white !important;
  background-color: #2e3032 !important;
  border-color: #5c5c5c !important;;
  border-width: 1px !important;
  border-style: solid;
}
